<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <p1>In this app, you have to write three inputs as first should be String or Strings with split up with enter character</p1><br/>
  <p1>Second input should be string that you want to found in first input</h1><br/>
  <p1>Last input should be a integer that you will try to find your second input that times in first input!</p1><br/>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>


